.Add-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 20px auto;
    border: 1px solid;    
    border-color: rgba(172, 224, 249, 0.8);
    border-radius: 15px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
}