.Add-post-button {
    position: fixed;
    color: #fad0c4;
    width: 96px;
    height: 96px;
    bottom: 15px;
    right: 15px;
    transition: 0.3s;
    z-index: 999;
}

.Add-post-button:hover {
    transform: scale(1.1, 1.1)
}