.Button {
    display: inline-flex;
    width: 128px;
    height: 42px;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.Button:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 2px 3px 5px lightgray;
}