.Post {
    width: 80%;
    min-height: 150px;
    margin: 0 auto;    
    border: 1px solid;    
    border-color: rgba(172, 224, 249, 0.8);
    border-radius: 15px;    
    transition: 0.3s;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2.5%;
    background-color: white;
}

.Post:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 2px 3px 5px lightgray;
}

.Post-comment-icon {
    display: inline;
    color: #ace0f9;
    font-size: 26px;
    transition: 0.3s;
    transform: translateY(9px);
    margin-left: 10px;   
    margin-right: 10px; 
}

.Post-comment-icon:hover {
    transform: scale(1.5, 1.5)
}

.Post-header {
}

.Post-footer {
    margin-top: 10px;
}

.Icon-counter {
    display: inline;
    border-radius: 50%;
    padding: 0px 10px;
    text-align: center;
    background-color: green;
    margin: 0 0;
}

.Category-button {
    display: inline;
    float: right;
}

.Post-title {
    display: inline;
    font-size: 36px;
}